.separator-breadcrumb {    
    margin: 1rem 0 1rem;
}
.same_size {
    position: relative;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.businessAvatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.margin {
    float: left;
    margin-bottom: 1rem;
}
